<div class="col-md-12">
<div class="panel panel-default">
<div id="mapTop" class="panel-heading">
    <tabset>
        <tab heading="Mine">
            <form class="form-inline">
                <div class="form-group">
                    <label for="dateAfter">From</label>

                    <p class="input-group">
                        <input id="dateAfter" type="date" class="form-control input-sm" placeholder="YYYY-MM-DD"
                               ng-model="after">
                    </p>
                </div>
                <div class="form-group">
                    <label for="dateBefore">To</label>

                    <p class="input-group">
                        <input id="dateBefore" type="date" class="form-control input-sm"
                               placeholder="YYYY-MM-DD"
                               ng-model="before">
                    </p>
                </div>
                <div class="form-group">
                    <p class="input-group">
                        <select class="form-control input-sm" ng-model="type">
                            <option></option>
                            <option>Ride</option>
                            <option>Run</option>
                            <option>Swim</option>
                            <option>Hike</option>
                            <option>Walk</option>
                            <option>AlpineSki</option>
                            <option>BackcountrySki</option>
                            <option>Canoeing</option>
                            <option>CrossCountrySkiing</option>
                            <option>Crossfit</option>
                            <option>Elliptical</option>
                            <option>IceSkate</option>
                            <option>InlineSkate</option>
                            <option>Kayaking</option>
                            <option>Kitesurf</option>
                            <option>NordicSki</option>
                            <option>RockClimbing</option>
                            <option>RollerSki</option>
                            <option>Rowing</option>
                            <option>Snowboard</option>
                            <option>Snowshoe</option>
                            <option>StairStepper</option>
                            <option>StandUpPaddling</option>
                            <option>Surfing</option>
                            <option>WeightTraining</option>
                            <option>Windsurf</option>
                            <option>Workout</option>
                            <option>Yoga</option>
                        </select>
                    </p>
                </div>
                <div class="form-group">
                    <p class="input-group">
                        <input type="button" class="btn btn-primary btn-sm" value="Draw heatmap"
                               ng-click="fetchMyActivities(before,after,type)" ng-disabled="downloadInProgress">
                        <input type="button" class="btn btn-primary btn-sm" value="This year"
                               ng-click="fetchMyActivitiesThisYear(type)" ng-disabled="downloadInProgress">
                        <input type="button" class="btn btn-primary btn-sm" value="This month"
                               ng-click="fetchMyActivitiesThisMonth(type)" ng-disabled="downloadInProgress">
                        <input ng-show="activities && mine" type="button" class="btn btn-primary btn-sm" value="Display photos"
                               ng-click="fetchPhotos(activities)" ng-disabled="downloadInProgress">

                    </p>
                </div>
                <div class="throbber-loader" ng-show="downloadInProgress">
                    Loading…
                </div>
            </form>
        </tab>
        <tab heading="Others">
            <div class="form-group">
                <p class="input-group">
                    <input type="button" class="btn btn-primary btn-sm" value="Contacts"
                           ng-click="fetchFriendsActivities()" ng-disabled="downloadInProgress">
                    <span ng-repeat="club in athleteProfile.clubs">
                        <img src="{{club.profile_medium | profileImage}}" class="btn btn-primary btn-sm" title="{{club.name}}"
                           ng-click="fetchClubActivities(club.id)" ng-disabled="downloadInProgress">
                    </span>
                    <span class="throbber-loader" ng-show="downloadInProgress">
                        Loading…
                    </span>
                </p>
            </div>

        </tab>
    </tabset>
    <input type="checkbox" ng-model="routePlannerOnOff" ng-click="activateRoutePlanner()"> Route planner (beta) <a href="" ng-click="displayRoutePlannerHelpModal()"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></a>
    <a ng-show="gpxUrl" href="" ng-click="downloadGpx()">Download gpx</a>&nbsp;
    <a ng-show="gpxUrl" href="" ng-click="clearRoute()">Clear route</a>
</div>
<div class="panel-body">
    <div class="alert alert-danger" role="alert" ng-show="stravaError">{{stravaError.message}} <span ng-show="stravaError.code==511">Please <a href="javascript:window.location.reload();">reload</a>.</span></div>
    <div id="map-canvas"></div>
</div>
<div class="panel-footer table-responsive" ng-show="globalTotals.nb > 0">
    <table class="table">
        <thead>
            <th></th>
            <th>Activities</th>
            <th>Distance</th>
            <th>Elevation gain</th>
            <th>Moving time</th>
            <th>Elapsed time</th>
            <th>Motionless time</th>
            <th>Avg speed</th>
        </thead>
        <tbody ng-repeat-start="total in totals">
            <tr ng-show="total.nb > 0">
                <td><a href="" data-toggle="collapse" data-target="#{{total.id}}Collapse" title="Expand/Collapse"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a><b>
                    <a href="" ng-click="drawActivitiesOnMap(total.activities)">{{total.title}}</a></b>
                </td>
                <td>
                    {{total.nb}}
                </td>
                <td>{{total.distance/1000 | number:1}}km</td>
                <td>{{total.elevationGain | number:0}}m</td>
                <td>{{total.movingTime | duration}}</td>
                <td>{{total.elapsedTime | duration}}</td>
                <td>{{total.elapsedTime - total.movingTime | duration}}</td>
                <td>{{3600 * total.distance / total.movingTime / 1000 |
                    number:1}}km/h
                </td>
            </tr>
        </tbody>

        <tbody id="{{total.id}}Collapse" class="collapse out">
            <tr ng-show="total.nb > 0" ng-repeat="activity in total.activities">
                <td>
                    <a href="" ng-click="displayEditActivityModal(activity)" ng-show="mine" title="Edit activity"><span class="glyphicon glyphicon-edit" aria-hidden="true" ></span></a>&nbsp;
                    <a href="" ng-click="drawActivityOnMap(activity)"><b>{{activity.name}}</b></a>
                    <a href="http://www.strava.com/athletes/{{activity.athlete.id}}" ng-show="activity.athlete.profile" target="_blank">{{activity.athlete.firstname}} {{activity.athlete.lastname}}</a>
                    {{activity.start_date | date : 'short'}}
                    <span class="glyphicon glyphicon-lock" aria-hidden="true" ng-show="activity.private"></span>
                </td>
                <td></td>
                <td>{{activity.distance/1000 | number:1}}km</td>
                <td>{{activity.total_elevation_gain | number:0}}m</td>
                <td>{{activity.moving_time | duration}}</td>
                <td>{{activity.elapsed_time | duration}}</td>
                <td>{{activity.elapsed_time - activity.moving_time | duration}}</td>
                <td>{{3600 * activity.distance / activity.moving_time / 1000 | number:1}}km/h</td>
            </tr>
        </tbody>
        
        <tbody ng-repeat-end>
        </tbody>

        
        <tbody>
            <tr ng-show="withGear">
                <td>
                    <a href="" data-toggle="collapse" data-target="#gearCollapse" title="Expand/Collapse"><span
                            class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                    Stats by gear
                </td>
                <td colspan="7"></td>
            </tr>
        </tbody>
        <tbody id="gearCollapse" class="collapse out">
            <tr ng-show="withGear" ng-repeat="(key,value) in gearTotals">
                <td><b><a href="" ng-click="drawActivitiesOnMap(value.activities)">{{value.title}}</a></b></td>
                <td>{{value.nb}}</td>
                <td>{{value.distance / 1000 | number : 1}}km</td>
                <td>{{value.elevationGain | number:0}}m</td>
                <td>{{value.movingTime | duration}}</td>
                <td>{{value.elapsedTime | duration}}</td>
                <td>{{value.elapsedTime - value.movingTime | duration}}</td>
                <td>{{3600 * value.distance / value.movingTime / 1000 | number:1}}km/h</td>
            </tr>
        </tbody>
        
        
        
        <tbody>
            <tr>
                <td>
                    <a href="" data-toggle="collapse" data-target="#geographicCollapse" title="Expand/Collapse"><span
                            class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></a>
                    Stats by location
                </td>
                <td colspan="7"></td>
            </tr>
        </tbody>
        <tbody id="geographicCollapse" class="collapse out">
            <tr ng-repeat-start="(countryName,countryInfo) in countryTotals">
                <td><b><a href="" ng-click="drawActivitiesOnMap(countryInfo.activities)">{{countryName}}</a></b></td>
                <td>{{countryInfo.nb}}</td>
                <td>{{countryInfo.distance / 1000 | number : 1}}km</td>
                <td>{{countryInfo.elevationGain | number:0}}m</td>
                <td>{{countryInfo.movingTime | duration}}</td>
                <td>{{countryInfo.elapsedTime | duration}}</td>
                <td>{{countryInfo.elapsedTime - countryInfo.movingTime | duration}}</td>
                <td>{{3600 * countryInfo.distance / countryInfo.movingTime / 1000 | number:1}}km/h</td>
            </tr>
            <tr ng-repeat-start="(stateName,stateInfo) in countryInfo.states">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;<b><a href=""
                                                  ng-click="drawActivitiesOnMap(stateInfo.activities)">{{stateName}}</a></b>
                </td>
                <td>{{stateInfo.nb}}</td>
                <td>{{stateInfo.distance/1000 | number:1}}km</td>
                <td>{{stateInfo.elevationGain | number:0}}m</td>
                <td>{{stateInfo.movingTime | duration}}</td>
                <td>{{stateInfo.elapsedTime | duration}}</td>
                <td>{{stateInfo.elapsedTime - stateInfo.movingTime | duration}}</td>
                <td>{{3600 * stateInfo.distance / stateInfo.movingTime / 1000 | number:1}}km/h</td>
            </tr>
            <tr ng-repeat="(cityName,cityInfo) in stateInfo.cities">
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b><a href=""
                                                                          ng-click="drawActivitiesOnMap(cityInfo.activities)">{{cityName}}</a></b>
                </td>
                <td>{{cityInfo.nb}}</td>
                <td>{{cityInfo.distance/1000 | number:1}}km</td>
                <td>{{cityInfo.elevationGain | number:0}}m</td>
                <td>{{cityInfo.movingTime | duration}}</td>
                <td>{{cityInfo.elapsedTime | duration}}</td>
                <td>{{cityInfo.elapsedTime - cityInfo.movingTime | duration}}</td>
                <td>{{3600 * cityInfo.distance / cityInfo.movingTime / 1000 | number:1}}km/h</td>
            </tr>
            <tr ng-repeat-end></tr>
            <tr ng-repeat-end></tr>
        </tbody>
    </table>
</div>
</div>
</div>



<div id="photoModal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-4">
                        <img src="{{currentPhotoUrl}}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <p ng-show="currentPhoto.caption">{{currentPhoto.caption}}</p>
                        <a ng-show="currentPhoto.ref && currentPhoto.source==2" href="{{currentPhoto.ref}}" target="_blank">Show on Instagram</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="editActivityModal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Edit activity</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" role="alert" ng-show="stravaError">{{stravaError.message}} <span ng-show="stravaError.code==511">Please <a href="javascript:window.location.reload();">reload</a>.</span></div>

                <div class="form-group">
                    <input type="text" class="form-control" ng-model="currentEditActivity.name" placeholder="Name">
                </div>
                <div class="form-group">
                    <select class="form-control" ng-model="currentEditActivity.type">
                        <option></option>
                        <option>Ride</option>
                        <option>Run</option>
                        <option>Swim</option>
                        <option>Hike</option>
                        <option>Walk</option>
                        <option>AlpineSki</option>
                        <option>BackcountrySki</option>
                        <option>Canoeing</option>
                        <option>CrossCountrySkiing</option>
                        <option>Crossfit</option>
                        <option>Elliptical</option>
                        <option>IceSkate</option>
                        <option>InlineSkate</option>
                        <option>Kayaking</option>
                        <option>Kitesurf</option>
                        <option>NordicSki</option>
                        <option>RockClimbing</option>
                        <option>RollerSki</option>
                        <option>Rowing</option>
                        <option>Snowboard</option>
                        <option>Snowshoe</option>
                        <option>StairStepper</option>
                        <option>StandUpPaddling</option>
                        <option>Surfing</option>
                        <option>WeightTraining</option>
                        <option>Windsurf</option>
                        <option>Workout</option>
                        <option>Yoga</option>
                    </select>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="currentEditActivity.private"> Private
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="currentEditActivity.trainer"> Trainer
                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="currentEditActivity.commute"> Commute
                    </label>
                </div>
                <div class="form-group" ng-show="currentEditActivity.type=='Run' || currentEditActivity.type=='Hike' || currentEditActivity.type=='Walk' || currentEditActivity.type=='Ride'">
                    <select class="form-control" ng-model="currentEditActivity.gear_id">
                        <option></option>
                        <option ng-show="currentEditActivity.type=='Ride'" ng-repeat="bike in athleteProfile.bikes" value="{{bike.id}}">{{bike.name}}</option>
                        <option ng-show="currentEditActivity.type=='Run' || currentEditActivity.type=='Hike' || currentEditActivity.type=='Walk'" ng-repeat="shoe in athleteProfile.shoes" value="{{shoe.id}}">{{shoe.name}}</option>
                    </select>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"  ng-click="update(currentEditActivity)">Save</button>
            </div>
        </div>
    </div>
</div>


<div id="routePlannerHelpModal" class="modal bs-example-modal-sm" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Route planner</h4>
            </div>
            <div class="modal-body">
                  <ol>
                      <li>Activate route planner</li>
                      <li>Click on the map where you want to start the route and then click on "Start route from this location" button</li>
                      <li>Click on the map on the next location for the route. The route planner computes the route from the starting point to this point</li>
                      <li>Click again on the map. The route planner computes the route from the last point to this point</li>
                      <li>You can add intermediate points by clicking on the route</li>
                      <li>You can drag any of the intermediate points on the map</li>
                      <li>At the end, you can download the gpx track</li>
                  </ol>
                The Route planner uses <a href="http://project-osrm.org/" target="_new">OSM routing machine</a> and <a href="http://www.liedman.net/leaflet-routing-machine/" target="_new">Leaflet routing machine</a> API.
            </div>
        </div>
    </div>
</div>        
