<div class="col-md-8">
    <div class="panel panel-default">
        <div class="panel-heading">
            <form class="form-inline">
                <div class="form-group">
                    <label for="dateAfter">From</label>

                    <p class="input-group">
                        <input id="dateAfter" type="text" class="form-control" datepicker-popup="yyyy/MM/dd"
                               ng-model="after"
                               datepicker-options="dateOptions" is-open="datePickerOpenedAfter"
                               close-text="Close" placeholder="YYYY/MM/DD"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDatePickerAfter($event)">
                        <i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                    </p>
                </div>
                <div class="form-group">
                    <label for="dateBefore">To</label>

                    <p class="input-group">
                        <input id="dateBefore" type="text" class="form-control" datepicker-popup="yyyy/MM/dd"
                               ng-model="before"
                               datepicker-options="dateOptions" is-open="datePickerOpenedBefore"
                               close-text="Close" placeholder="YYYY/MM/DD"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="openDatePickerBefore($event)">
                        <i class="glyphicon glyphicon-calendar"></i></button>
                </span>
                    </p>
                </div>
                <div class="form-group">
                    <p class="input-group">
                        <select class="form-control" ng-model="type">
                            <option></option>
                            <option>Ride</option>
                            <option>Run</option>
                            <option>Swim</option>
                            <option>Hike</option>
                            <option>Walk</option>
                            <option>AlpineSki</option>
                            <option>BackcountrySki</option>
                            <option>Canoeing</option>
                            <option>CrossCountrySkiing</option>
                            <option>Crossfit</option>
                            <option>Elliptical</option>
                            <option>IceSkate</option>
                            <option>InlineSkate</option>
                            <option>Kayaking</option>
                            <option>Kitesurf</option>
                            <option>NordicSki</option>
                            <option>RockClimbing</option>
                            <option>RollerSki</option>
                            <option>Rowing</option>
                            <option>Snowboard</option>
                            <option>Snowshoe</option>
                            <option>StairStepper</option>
                            <option>StandUpPaddling</option>
                            <option>Surfing</option>
                            <option>WeightTraining</option>
                            <option>Windsurf</option>
                            <option>Workout</option>
                            <option>Yoga</option>
                        </select>
                    </p>
                </div>
                <div class="form-group">
                    <p class="input-group">
                        <input type="button" class="btn btn-default" value="Draw heatmap"
                               ng-click="fetchActivities(before,after,type)">
                        <input type="button" class="btn btn-default" value="This year"
                               ng-click="fetchActivitiesThisYear(type)">
                        <input type="button" class="btn btn-default" value="This month"
                               ng-click="fetchActivitiesThisMonth(type)">
                    </p>
                </div>
            </form>
        </div>
        <div class="panel-body">
            <div class="alert alert-danger" role="alert" ng-show="stravaError">{{stravaError.message}}</div>
            <div id="map-canvas"></div>
        </div>
        <div class="panel-footer" ng-show="activities">
            <p>{{activities.length}} activities,
            <b>Total distance</b> {{totalDistance/1000 | number:1}}km,
            <b>Elevation</b> {{totalElevationGain | number:0}}m,
            <b>Commute</b> {{commuteDistance/1000 | number:1}}km,
            <b>Trainer</b> {{trainerDistance/1000 | number:1}}km,
            <b>Manual</b> {{manualDistance/1000 | number:1}}km
	    </p>
            <p ng-repeat="(key,value) in countries">
		<b><a href="" ng-click="centerMap(key)">
			{{key}}</a></b> : {{value.nb}} activities, {{value.distance /  1000 | number : 1}}km 
		<span ng-repeat="(cityName,cityInfo) in value.cities">
			<a href="" ng-click="centerMap(cityName+','+cityInfo.state+','+'key')">{{cityName}}</a>: {{cityInfo.nb}} activities, {{cityInfo.distance / 1000 | number : 1}}km
		</span>
	    </p>
        </div>
    </div>
</div>
<div class="col-md-2">
    <ul class="list-group" ng-show="currentActivity">
        <li class="list-group-item">
            <a href="http://www.strava.com/activities/{{currentActivity.id}}" target="_blank">{{currentActivity.name}}</a>
        </li>
        <li class="list-group-item">
            {{currentActivity.type}} - {{currentActivity.start_date | date : 'short'}}
        </li>
        <li class="list-group-item" ng-show="currentActivity.distance">
            <span class="badge">{{currentActivity.distance/1000 | number:1}}</span>
            Distance (km)
        </li>
        <li class="list-group-item" ng-show="currentActivity.average_speed">
            <span class="badge">{{3600 * currentActivity.average_speed/1000 | number:1}}</span>
            Avg speed (km/h)
        </li>
        <li class="list-group-item" ng-show="currentActivity.max_speed">
            <span class="badge">{{3600 * currentActivity.max_speed/1000 | number:1}}</span>
            Max speed (km/h)
        </li>
        <li class="list-group-item" ng-show="currentActivity.average_speed && (currentActivity.type =='Hike' || currentActivity.type =='Run' || currentActivity.type =='Walk')">
            <span class="badge">{{1000 / currentActivity.average_speed / 60 | number:1}}</span>
            Avg pace (min/km)
        </li>
        <li class="list-group-item" ng-show="currentActivity.max_speed && (currentActivity.type =='Hike' || currentActivity.type =='Run' || currentActivity.type =='Walk')">
            <span class="badge">{{1000 / currentActivity.max_speed / 60 | number:1}}</span>
            Max pace (min/km)
        </li>
        <li class="list-group-item" ng-show="currentActivity.average_watts">
            <span class="badge">{{currentActivity.average_watts | number:0}}</span>
            Avg watts
        </li>
        <li class="list-group-item" ng-show="currentActivity.max_heartrate">
            <span class="badge">{{currentActivity.max_heartrate | number:0}}</span>
            Max heartrate
        </li>
        <li class="list-group-item" ng-show="currentActivity.average_heartrate">
            <span class="badge">{{currentActivity.average_heartrate | number:0}}</span>
            Avg heartrate
        </li>
        <li class="list-group-item" ng-show="currentActivity.total_elevation_gain">
            <span class="badge">{{currentActivity.total_elevation_gain | number:0}}</span>
            Elevation (m)
        </li>
        <li class="list-group-item" ng-show="currentActivity.moving_time">
            <span class="badge">{{currentActivity.moving_time_date | date : "H'h':mm'min':ss's'"}}</span>
            Moving time
        </li>
        <li class="list-group-item" ng-show="currentActivity.elapsed_time">
            <span class="badge">{{currentActivity.elapsed_time_date | date : "H'h':mm'min':ss's'"}}</span>
            Elapsed time
        </li>
        <li class="list-group-item" ng-show="currentActivity.commute">
            Commute
        </li>
        <li class="list-group-item" ng-show="currentActivity.trainer">
            Trainer
        </li>
    </ul>
</div>



